<div class="content-heading">
  <div>NgxDatatable
    <small>A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</small></div>
</div>

<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Client-side Search and Filtering</div>
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-lg-4">
        <input type='text' class="form-control" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
      </div>
    </div>
    <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
      <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="Company" [width]="300"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
